<div class="p-5">
    <div class="row text-center">
        <div class="col-sm align-self-center">
            <h6 class="text-format">
                Your meeting has been launched.
                <br>
                Don’t see your Zoom meeting?
            </h6>
            <br>
            <button class = "pl-5 pr-5 pt-3 pb-3 mt-3 mb-3 bg-primary text-light button-style">
                Launch Meeting
            </button>
            <hr>
            <div class="mt-5">
                Don’t have Zoom Client installed? <a href = "#download">Download Now</a>
            </div>
            <div class="mt-4">
                Having issues with Zoom Client? <a href="#join">Join from Your Browser</a>
            </div>
        </div>
    </div>
</div>
