<div class="row bg-primary p-3">
    <div class="col-3 mt-2" style="font-weight: 500; font-size: large; text-align: right;">
        <span class="text-light">Flipkart Plus</span>
    </div>
    <div class="col-3">
        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Search">
        </form>
    </div>
    <div class="col-6 text-light mt-2" style="text-align: right; font-weight: 500;">
        <span>
            Login
        </span>
        <span class="ml-4">
            More
        </span>
        <span class="ml-4">
            Cart
        </span>
    </div>
</div>