<div class="contianer-fluid bg-light border-right w-100" style = "height: 48rem;">
    <div class="row">
        <div class="col-12">
            <h2 class="m-3 text-danger" style = "font-weight: 900;">
                Kaar Training
            </h2>
            <hr>
        </div>
    </div>

    <div class="row mt-3 ml-4">
        <div class="col-12">
            <button class="btn btn-link" (click) = "gotoZoom()" >
                Zoom
            </button>
        </div>
    </div>

    <div class="row mt-1 ml-4">
        <div class="col">
            <button class="btn btn-link" (click) = "gotofacebook()">
                Flipkart
            </button>
        </div>
    </div>

    <div class="row mt-1 ml-4">
        <div class="col">
            <button class="btn btn-link" (click) = "gotoUSers()">
                Users
            </button>
        </div>
    </div>

    <div class="row mt-1 ml-4">
        <div class="col">
            <button class="btn btn-link" (click) = "gotoHome()">
                Logout
            </button>
        </div>
    </div>
</div>